body {
	font-size: 100%;
	font-family: 'Open Sans';
	
	background: url(../images/bg.jpg) top center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}